<p id="notice"><%= notice %></p>

<h1 id='cheese'>Listing Cheeses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cheeses.each do |cheese| %>
      <tr>
        <td><%= cheese.name %></td>
        <td><%= button_to 'Show', cheese_path(cheese.id), :method => 'get', :class => 'btn btn-default' %></td>
        <% if logged_in? %>
         <td><%= button_to 'Like', favorites_path, remote: true, :class => 'btn btn-default', :id => 'cheeseLike' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= hidden_field(:cheese_id, :user_id, :class => 'likeInfo') %>

<br>

<%= link_to 'New Cheese', new_cheese_path %>
