<p id="notice"><%= notice %></p>

<h1 id='cheese'>Listing Cheeses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cheeses.each do |cheese| %>
      <tr>
        <td><img src="http://www.automationheroes.com/wp-content/uploads/2013/11/tumblr_static_cheese_205_1362800142.jpg" height="25" width="25"></td>
        <td><%= cheese.name %></td>
        <td><%= button_to 'Show', cheese_path(cheese.id), :method => 'get', :class => 'btn btn-default' %></td>
        <% if logged_in? %>
         <td><%= button_to 'Like', favorites_path(:favorite => {:user_id => current_user.id, :cheese_id => cheese.id}), :class => 'btn btn-default' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cheese', new_cheese_path %>
